

.side
{
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: darkcyan;
}
#text
{
    font-size: 25px;
    padding: 10px;
    color: greenyellow;
}
.list a
{
   color: gold;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.side:hover
{
    background: #666;
    text-align: center;
}
.drop
{
    position: relative;
}
.list
{
    position: absolute;
    list-style-type: none;
    display: block;
    background: darkcyan;
    padding: 0px;
    opacity: 0;
    top:-9999em;
    left: 100%;
   
}
.side:hover .list
{
    opacity: 1;
    padding: 10px, 0, 10px, 20px;
    top: -90px;
}
.list li:hover
{
    background: #666;
}
.side2
{
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: midnightblue;
}
#text2
{
    font-size: 25px;
    padding: 10px;
    color: greenyellow;
}
.list2 a
{
    color: gold;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.side2:hover
{
    background-color: blueviolet;
    text-align: center;
}
.drop2
{
    position: relative;
}
.list2
{
    position: absolute;
    list-style-type: none;
    display: block;
    background-color: midnightblue;
    padding: 0px;
    width: 200px;
    opacity: 0;
    top:-9999em;
    left: 100%;
   
}
.side2:hover .list2
{
    opacity: 1;
    padding: 10px, 0, 10px, 20px;
    top: -90px;
}
.list2 li:hover
{
    background-color: blueviolet;
    padding: 3px;
}
